#login {
  font-family: 'Roboto', serif;

  a {
    color: gray;
  }
  h1 {
    margin: 0.30px;
  }

  input {
    font-family: 'Roboto Slab', serif;
  }

  button {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e7e7e7;
    border: none;
    :hover {
      color: black;
    }
  }
  @media (min-width: 1100px) {button {width: 300px;}}
}

  
